html,body{margin:0;font-family:"Microsoft YaHei","微软雅黑",Serif;}
/*page0*/
#page0,
#page1,
#page2{position:absolute;left:0;right:0;top:0;bottom:0;width:100vw;height:100vh;z-index:20000120;background-color:white;}
#page0 div{text-align:center;}
/*page1*/
#page1{background-color:pink;}
#page1_left-top{width:100%;height:100%;background-color:#cbe6a3;-webkit-clip-path:polygon(0 0,80% 0,20% 100%,0 100%);clip-path:polygon(0 0,80% 0,20% 100%,0 100%);}
#page1_center-heart{position:absolute;top:50%;width:100%;height:100px;margin-top:-50px;text-align:center;}
@media(max-width:600px){#page1_center-heart{font-size:12vw;}}
@media(min-width:601px){#page1_center-heart{font-size:72px;}}
#page1_center-heart>div{display:inline-block;}
#page1_heart-before{color:#d97edb;}
#page1_heart-after{color:yellow;}
#page1_heart-image{background-image:url("image/HEART.png");background-repeat:round;}
@media(max-width:600px){
	#page1_heart-image{margin-bottom:-4.3vw;width:18.3vw;height:16.3vw;}
}
@media(min-width:601px){
	#page1_heart-image{margin-bottom:-23px;width:110px;height:98px;}
}
#page1_bottom{position:absolute;bottom:20px;width:100%;text-align:center;color:white;font-weight:bold;font-size:120%;}
/*page2*/
#page2{background-color:#cbe6a3;}
#page2_center-text{position:absolute;text-align:center;width:100%;top:50%;color:white;font-weight:bold;}
#page2_heart-small-square,
#page2_heart-big-square,
#page2_heart-round-part:before,
#page2_heart-round-part:after{background-color:#ffa961;}
#page2_heart-small-square,
#page2_heart-big-square{position:absolute;text-align:center;left:50%;top:50%;transform:rotate(-45deg);display:inline-block;}
#page2_heart-round-part{position:absolute;text-align:center;left:50%;top:50%;transform:rotate(-45deg);display:inline-block;}
#page2_heart-round-part:before,
#page2_heart-round-part:after{content:"";border-radius:50%;border-bottom-left-radius:0px;position:absolute;}
#page2_heart-round-part:before{left:0;}
#page2_heart-round-part:after{top:0;}
@media(max-width:600px){
	#page2_center-text{font-size:5vw;height:16vw;margin-top:-14vw;}
	#page2_heart-small-square,
	#page2_heart-round-part:before,
	#page2_heart-round-part:after{box-shadow:-1.6vw 1.6vw 3.3vw rgba(128,128,128,0.5);}
	#page2_heart-small-square{width:25vw;margin-left:-12.5vw;height:25vw;margin-top:5vw;}
	#page2_heart-big-square,
	#page2_heart-round-part{width:50vw;margin-left:-25vw;height:50vw;margin-top:-25vw;}
	#page2_heart-round-part:before,
	#page2_heart-round-part:after{width:50vw;height:50vw;}
	#page2_heart-round-part:before{top:-25vw;}
}
@media(min-width:601px){
	#page2_center-text{font-size:30px;height:100px;margin-top:-84px;}
	#page2_heart-small-square,
	#page2_heart-round-part:before,
	#page2_heart-round-part:after{box-shadow:-10px 10px 20px rgba(128,128,128,0.5);}
	#page2_heart-small-square{width:150px;margin-left:-75px;height:150px;margin-top:30px;}
	#page2_heart-big-square,
	#page2_heart-round-part{width:300px;margin-left:-150px;height:300px;margin-top:-150px;}
	#page2_heart-round-part:before,
	#page2_heart-round-part:after{width:300px;height:300px;}
	#page2_heart-round-part:before{top:-150px;}
}
#page2_bottom{position:absolute;bottom:20px;width:100%;text-align:center;color:white;font-weight:bold;font-size:120%;}