#goBack{cursor:pointer;color:black;}
#goback:link,#goBack:visited,#goback:hover{text-decoration:underline;}
hr{border-color:#ccc;margin:14px -4px;}
a{text-decoration:underline !important;color:black !important;cursor:pointer !important;}
label{margin:0;font-weight:normal;}

#body{width:900px;margin:10px auto;}
#header{padding-top:0px;vertical-align:middle;position:absolute;top:0px;width:100%;background-color:#cbe6a3;text-align:center;height:55px;margin-bottom:10px;}
#header>.btn-group.btn-group-justified{padding-top:7px};
#title{font-size:27px;height:100%;width:100px;}
#header .btn-group{width:900px;margin-left:0px;height:100%;}
#header>div>.btn.btn-default{background-color: transparent;height: 100%;border:0;border-radius:0;border-left:1px black solid;}
#header>div>.btn.btn-default:hover:not(:first-child){background-color:rgba(255,255,255,0.4);transition:background-color 0.5s}
#header>div>span>a:link,#header>div>span>a:visited{text-decoration:none;}   #header>div>span>a:hover{text-decoration:underline;}
#header>div>span>a:link,#header>div>span>a:visited,#header>div>span>a:hover{color:black;}
body{margin:0;font-family:"Microsoft YaHei","微软雅黑",Serif;}
h3{font-family:"Microsoft YaHei","微软雅黑",Serif;}
.btn{margin:3px;}
.input-group .btn {margin-top:0;margin-bottom:0;margin-right:0;}
#header div {display:inline-block;}
#main{background-color:#f5f5f5;padding:15px;}
li>a:link,li>a:visited,li>a:hover{color:black}