html,body{
	width:100%;height:100%;
	margin:0;
	overflow:hidden;
}
#form-framework{
	position:absolute;
	left:50%;
	height:70vh;
	margin-top:-41vh;top:50%;
	text-align:center;
}
textarea{
	height:100%;width:100%;
	display:block;
	max-width:100%;
	resize:none;
}
iframe{
	height:/* 70/75*100=93 */93%;
	width:/* 100/75*100=133 */133%;max-width:133%;
	-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}
#form-framework>h4{
	margin:0;
}
@media(max-width:600px){
	#form-framework{
		width:92vw;
		margin-left:-46vw;
	}
}
@media(min-width:600px){
	#form-framework{
		width:576px;
		margin-left:-288px;
	}
}
input[type="submit"]{
	width:100%;
}