html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0 5% 0 5%;
    width: 100%;
    background-color: purple;
}
#content {
    padding: 20px 0 20px 0;
    width: 90%;
    background-color: rgb(255, 222, 192);
    text-align: center;
}
h1 {
    width: 100%;
    color: white;
    text-shadow: 1px 1px brown;
}
img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}
img.small {
    width: 250px;
}
p {
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 100px 20px 100px;
}
div.text {
    display: inline-block;
    width: 500px;
    font-size: smaller;
}
table {
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid brown;
    font-size: 17px;
}
table thead td {
    font-weight: bold;
}
table td {
    border: 1px solid brown;
    padding: 10px 30px 10px 30px;
}
ul {
    display: inline-block;
    width: 40%;
}

.button {
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: rgb(255, 187, 0);
    box-shadow: 4px 3px darkgray;
    padding: 10px 10px 0 10px;
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.button:hover {
    background-color: rgba(255, 187, 0, 0.4);
    color: rgba(0, 0, 0, 0.9);
}
.button:active {
    box-shadow: 0 0;
    transform: translate(4px, 4px);
}

.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}